body{
    background-color: hsl(0,0%,95%);
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    
}
#logo-container {
    position: fixed; /* Position relative to the viewport */
    top: 10px;      /* Adjust top position as needed */
    left: 10px;     /* Adjust left position as needed */
    z-index: 10;    /* Ensure the logo is on top of other elements */
  }
  
  #logo {
    width: 20%;    /* Adjust logo width as needed */
    height: auto;   /* Maintain aspect ratio */
  }
#header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: hsl(0,0%,95%);
    color: hsl(0,0%,30%);
    /* font-family:'Gill Sans', sans-serif;
    font-weight: 300; */
    /* font-size: 20px; */
    text-align: center;
    box-shadow: 0px 5px 13px 2px hsl(0,0%,50%);
    padding-bottom: 1%;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    height: auto;
}
#headline{
    margin-bottom:0%;
    font-weight: 600;
    padding-bottom: 0%;

}

hr {
    border: 1px solid hsl(0,0%,85%); /* Example: 1px solid black border */
    margin-bottom: 0.4%; /* Example: 20px top/bottom margin */
    width: 90%;
    align-self: center;
  }
#controls-div{
    align-self: center;
    /* align-items: center; */
    /* display: flex;
    flex-direction: row; */
    /* justify-content: space-around;  */
    /* border: hsl(0, 0%, 40%) solid 1px;
    border-radius: 7px; */
    margin: 0px;
    width: 100%;
    /* flex-wrap: wrap; */
    /* margin-left: auto;
    margin-right: auto; */
}


button{
    /* height: 30px; */
    font-size: 18px;
    border-radius: 7px;
    border: hsl(0,0%,80%) solid 1px;
    background-color: hsl(0,0%,90%);
    padding: 5px 20px 5px 10px;
    text-align: center;
    margin: 2px;
    white-space: nowrap;
    /* transition-duration: 0.2s; */
}
/* button:hover{
    background-color: hsl(0,0%,70%);
}  */
button:active{
    /* background-color: hsl(0,0%,95%); */
    box-shadow: rgba(50, 50, 93, 0.125) 0px 15px 30px -6px inset, rgba(0, 0, 0, 0.1) 0px 9px 18px -9px inset;
}

.button-container{
    /* align-items: center; */
    /* gap: 1%; */
    border:hsl(0, 0%, 90%) solid 1px;
    border-radius: 7px;
    background-color: hsl(0,0%,91%);
    /* box-shadow: 0px 2px 4px 1px hsl(0,0%,85%); */
    /* margin-left: 2%; */
    display: inline-block;
    /* flex-direction: row; */
    /* flex: 0 1 auto; */
    /* flex-wrap: wrap; */
    padding: 0.3% 1% 0.3% 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0.5%;


}

#main-content{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    /* padding: 20px; */
    margin: 0;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

#info-paragraphs {
    padding-top: 40px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#footer{
    /* text-align: center; */
    bottom: 0;
    position: fixed;
    width: 100%;
    /* padding: 5%; */
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
    flex-direction: row;;
    box-shadow: 0px 5px 13px 2px hsl(0,0%,70%);
    background-color: hsl(0,0%,95%);
}
.link{
    color:hsl(0, 0%, 50%);
    text-decoration: none;
    margin-left: 2%;
    margin-right: 2%;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* padding: 20px; */
    /* text-align: center; */
}
.link:hover {
    color:hsl(0, 0%, 40%);
}

.input_video {
    display: none;
}

.output_canvas {
    display: block;
    margin: 0 0;
    width: 100%;
    height: auto;
    
}

.slider-container{
    align-items: center;
    display: inline-block;
    flex-direction: row;
    
    border-radius: 7px;
    border: hsl(0,0%,80%) solid 1px;
    margin: 2px;
    padding: 4px;
}
#slider-label{
    margin-right: 8px;
    margin-left: 4px;
}

.toggle-button{
    /* box-shadow: 0px 0px 4px 1px hsl(50, 30%, 70%); */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border:hsl(100, 0%, 70%) solid 1px;
    /* transition-duration: 0.2s; */
}

